/* @font-face {
  font-family: "myFontBold";
  src: url("./didot_bold-webfont.woff2") format("woff2"),
    url("./didot_bold-webfont.woff") format("woff2");
}

@font-face {
  font-family: "myFontRegular";
  src: url("./didot-webfont.woff2") format("woff2"),
    url("./didot-webfont.woff") format("woff");
}

@font-face {
  font-family: "myFontTitle";
  src: url("./Cravas.woff") format("woff");
} */

* {
  margin: 0;
  padding: 0;
  color: black;
  font-family: "Open Sans";
}

body {
  background-color: white;
  height: 100%;
  display: flex;
  flex-direction: column;
}